
<h3>Liste des centres</h3>


<div class="vaccination-center-list">
    <ul *ngFor="let aCenter of centers" class="vaccination-center" >
        <button (click)="selectCenter(aCenter)">{{aCenter.name}}</button>
      <br>
     
        <a routerLink="/centers/detail/{{aCenter.id}}">
            Aller sur {{aCenter.name}}
        </a>
    <br>
    <br>
    </ul>
</div>

<div>
    <table>
        <tr>
          <th>Nom</th>
          <th>Date</th>
          <th>Heure</th>
        </tr>
        <tr *ng-repeat="let  aCenter of centers">
          <td>{{ aCenter.nom }}</td>
          <td>{{ aCenter.nom }}</td>
          <td>{{ aCenter.nom }}</td>
        </tr>
      </table>
      
</div>

<app-vaccination-center (deleted)="onDeleted($event)" [centerVac]="selected">


</app-vaccination-center>
