
<div class="newRdv">

    <h1>Prise de rendez vous dans ce centre</h1>
    <label for="username">Nom :</label>
    <input [(ngModel)]="nom" type="text" ><br><br>

    <label for="prenom">Prenom :</label>
    <input [(ngModel)]="prenom" type="text" ><br> <br>

    <label for="bdate">Date de naissance :</label>
    <input [(ngModel)]="naissance_date" type="text"><br> <br>

    <label for="dateRdv">Date du rdv :</label>
    <input [(ngModel)]="date_rdv" type="text"><br> <br>

    <label for="IDdoc">ID du doctoc :</label>
    <input [(ngModel)]="id_doctor" type="text" ><br><br>

    <button (click)="prendreRDV()">Prendre rdv</button>
</div>