<!-- <div class="newUser">
    <label for="username">Nom d'utilisateur :</label>
    <input type="text" id="username" name="username" ng-model="username"><br> <br>

    <label for="email">Adresse email :</label>
    <input type="email" id="email" name="email" ng-model="email"><br> <br>

    <label for="password">Mot de passe :</label>
    <input type="password" id="password" name="password" ng-model="password"><br> <br>

    <label for="password-confirm">Confirmez le mot de passe :</label>
    <input type="password" id="password-confirm" name="password-confirm" ng-model="passwordConfirm"><br><br>

    <button (click)="createAccount()">Créer mon compte</button>

</div>-->

   <div class="newUser" ><br>
    <div>
        <label>Type d'utilisateur:</label>
        <input type="radio" name="userType" value="medecin" [(ngModel)]="userType" > Médecin
        <input type="radio" name="userType" value="patient" [(ngModel)]="userType"> Patient
      </div> <br> <br> 

       <div *ngIf="userType === 'medecin'">
        <label>Numéro de licence:</label>
        <input type="text" name="licenceNumber" >
      </div>
 
      <div *ngIf="userType === 'patient'">
          <label>Date de naissance</label>
          <input type="text" name="birthDates" >
        </div> 

    <label for="username">Nom d'utilisateur :</label>
    <input [(ngModel)]="login" type="text" ><br><br>

    <label for="email">Adresse email :</label>
    <input [(ngModel)]="email" type="email" ><br> <br>

    <label for="password">Mot de passe :</label>
    <input [(ngModel)]="password" type="password"><br> <br>

    <label for="password-confirm">Confirmez le mot de passe :</label>
    <input [(ngModel)]="passwordConfirm" type="password" ><br><br>

    <button (click)="createAccount()">Créer mon compte</button>
   </div>
  

   
   <!-- <div>
    <form (submit)="createAccount()">
      <label>Email:</label>
      <input [(ngModel)]="newUser.email" name="username">
      <label>Mot de passe:</label>
      <input [(ngModel)]="newUser.password" name="password">
      <label>Login:</label>
      <input [(ngModel)]="newUser.login" name="login">
      <button type="submit">Créer utilisateur</button>
    </form>
  </div> -->